* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: #dc95ab;
}

h1 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin: 10%;
    align-items: center;
}

.botoes {
    margin: 8% 0 0 8%;
    align-content: center;
}

#timer {
    height:50px;
    text-align: center;
    width: 50%;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 6px;
    color: white;
    background-color: #dc8bba;
}

button {
    background: #af057b;
    border: none;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 2%;
    flex-wrap: wrap;
    display: inline-block;
    align-items: center;
}

button:hover {
    background: #ef9598;
    color: #d6d6d6;
}

.carta.virada {
    transform: rotateY(180deg);
}

.frente,
.verso {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #dc8bba;
    backface-visibility: hidden;
}

.frente {
    transform: rotateY(180deg);
}

.jogo-memoria {
    width: 800px;
    height: 480px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    align-items: center;
    cursor: pointer;
}

.carta {
    width: calc(16.66% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.carta:active {
    transform: scale(0.97);
    transition: transform .2s;
}

